resources/Schema/Types/TeamEnum.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:complexType name="TeamEnum" mixed="true">
		<xs:complexContent>
			<xs:extension base="t:enum">
				<xs:choice>
					<xs:element name="Spectator" type="t:int" fixed="1" minOccurs="0"/>
					<xs:element name="Red" type="t:int" fixed="2" minOccurs="0"/>
					<xs:element name="Blue" type="t:int" fixed="3" minOccurs="0"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>