resources/Schema/Components/AABB.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:element name="AABB">
		<xs:complexType>
			<xs:all>
				<xs:element name="Origin" type="t:Vector" minOccurs="0">
					<xs:annotation><xs:documentation>Middle point of the bounding box</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="Size" type="t:Vector" minOccurs="0">
					<xs:annotation><xs:documentation>Size of the bounding box</xs:documentation></xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>