resources/Schema/Components/AABB.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:element name="AABB">
		<xs:complexType>
			<xs:all>
				<xs:element name="BoxCenter" type="t:Vector" minOccurs="0"/>
				<xs:element name="BoxSize" type="t:Vector" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>