resources/Schema/Components/Animation.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:element name="Animation">
		<xs:complexType>
			<xs:all>
				<xs:element name="Name" type="t:string" minOccurs="0"/>
				<xs:element name="Time" type="t:double" minOccurs="0"/>
				<xs:element name="Speed" type="t:double" minOccurs="0"/>
				<xs:element name="Loop" type="t:bool" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="replicated" type="xs:boolean" fixed="true"/>
		</xs:complexType>
	</xs:element>
</xs:schema>