resources/Schema/Components/Blend.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>
	<xs:element name="Blend">
		<xs:complexType>
			<xs:all>
				<xs:element name="Pose1" type="t:string" minOccurs="0"/>
				<xs:element name="Pose2" type="t:string" minOccurs="0"/>
				<xs:element name="Weight" type="t:double" minOccurs="0"/>
				<xs:element name="SubTreeRoot" type="t:bool" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>