resources/Schema/Components/CapturePoint.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:element name="CapturePoint">
		<xs:annotation>
			<xs:documentation>A Capture Point</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="CaptureTimer" type="t:double" minOccurs="0"/>
				<xs:element name="OwnedBy" type="t:int" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>