resources/Schema/Components/Fill.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:element name="Fill">
		<xs:complexType>
			<xs:all>
				<xs:element name="Percentage" type="t:double" minOccurs="0"/>
				<xs:element name="Color" type="t:Color" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>