resources/Schema/Components/FloatingEffect.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:element name="FloatingEffect">
		<xs:complexType>
			<xs:all>
				<xs:element name="Period" type="t:double" minOccurs="0"/>
				<xs:element name="Amplitude" type="t:double" minOccurs="0"/>
				<xs:element name="Time" type="t:double" minOccurs="0"/>
				<xs:element name="Axis" type="t:Vector" minOccurs="0"/>
				<xs:element name="Position" type="t:Vector" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>