resources/Schema/Components/PointLight.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:element name="PointLight">
		<xs:annotation>
			<xs:documentation>It's a point light!</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Color" type="t:Color" minOccurs="0"/>
				<xs:element name="Radius" type="t:double" minOccurs="0"/>
				<xs:element name="Intensity" type="t:double" minOccurs="0"/>
				<xs:element name="Falloff" type="t:double" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>