resources/Schema/Components/Test.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="types">
	<xs:import schemaLocation="../Types.xsd" namespace="types"/>

	<xs:element name="Test">
		<xs:annotation>
			<xs:documentation>ECS Test Component</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Integer" type="xs:integer" minOccurs="0"/>
				<xs:element name="Float" type="xs:decimal" minOccurs="0"/>
				<xs:element name="String" type="xs:string" minOccurs="0"/>
				<xs:element name="Vector" type="t:Vector" minOccurs="0"/>
				<xs:element name="Quaternion" type="t:Quaternion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>